<%= render "layouts/flash_logout" %>
<div class="cover align-middle container-fluid mt-4" >
  <div class="row">
    <div class="col-md-7 col-sm-12 text-right">
      <div class="image-container">
        <%= image_tag "top.png", id: "responsive-image", class: "img-fluid" %>
      </div>
    </div>

    <div class="col-md-5 col-sm-12 d-flex flex-column justify-content-center">
      <div class="text-left" style="max-width: 400px; width: 100%; height: auto; margin-bottom: 20px;">
        <%= image_tag "DANSHARI.png", class: "img-title", style: "width: 100%; height: auto; margin-bottom: 20px;" %>
        <p style="font-size: 20px;">
          Q&Aと投票で一緒に断捨離。<br>
          捨てるべきか迷うあなたへ、<br>
          悩みを共有し、一緒に解決しましょう。
        </p>
      </div>
      <div class="d-flex justify-content-start align-items-center flex-wrap mt-3">
        <%= link_to "新規登録", new_user_registration_path, class: "btn btn-lg btn-color-blue responsive-btn d-block d-md-inline-block mb-3 mb-md-0" %>
        <%= link_to "ログイン", new_user_session_path, class: "btn btn-lg btn-login responsive-btn ml-md-3 d-block d-md-inline-block mb-3 mb-md-0" %>
        <%= link_to 'ゲストログイン',  users_guest_sign_in_path, class: "btn btn-lg btn-login responsive-btn ml-md-3 d-block d-md-inline-block", method: :post %>
      </div>
    </div>
  </div>

  <div class="concept" style="margin-top: 100px;">
    <div class="row">
      <div class="col-12 concept-main">
        <h1 class="sub-title-heading text-center">Danshariについて</h1>
        <p class="text-center concept-body mt-5">
          Danshariはモノが捨てられない・捨てることに抵抗を感じる方が、<br>
          ユーザー同士の交流や他者からの視点を取り入れてることで客観的にモノを評価できるようにし、<br>
          お互いにサポートしながら断捨離を進めることができる相談コミュニティサイトです。
        </p>
      </div>
    </div>

    <hr class="featurette-divider mx-md-5">

    <div class="row featurette custom-mx"　>
      <div class="col-md-7 d-flex flex-column justify-content-center">
        <h1 class="mb-3"><span>01</span>気軽に相談できる</h1>
        <p class="lead">
          あなたが断捨離すべきか迷っているアイテムについて、気軽に他のユーザーに意見を求めることができます。<br>
         「モノが多く、片付けられないと思われたくない」「他人から客観的に必要かどうかを判断して欲しい」<br>
          そういった悩みを相談して断捨離を進められます。
        </p>
      </div>
      <div class="col-md-5">
        <%= image_tag "QA.png", style: "max-width: 100%; height: auto; border-radius: 50%;" %>
      </div>
    </div>

    <hr class="featurette-divider mx-md-5">

    <div class="row featurette custom-mx">
      <div class="col-md-7 order-md-2 d-flex flex-column justify-content-center">
        <h1 class="mb-3"><span>02</span>優柔不断な方におススメな投票機能付き</h1>
        <p class="lead">
          モノが多く、捨てられない方の中には「捨てて良いか自分では判断できない」<br>
          「捨ててから後悔するかもしれない」と不安を抱えているかもしれません。<br>
          本サイトでは、皆さんに捨てるべきかどうかを投票していただくことができます。<br>
          周りが必要ないと言っているから断捨離する。そんな方法を通じて自分の生活空間を整えることができるかもしれません。
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <%= image_tag "vote.png", style: "max-width: 100%; height: auto; border-radius: 50%;" %>
      </div>
    </div>

    <hr class="featurette-divider mx-md-5">

    <div class="row featurette custom-mx">
      <div class="col-md-7 d-flex flex-column justify-content-center">
        <h1 class="mb-3"><span>03</span>ランキング形式でモチベーションUP</h1>
        <p class="lead">
          相談者への回答や投票、相談者からのグッドアドバイス評価によりポイントを獲得し順位付けされます。<br>
          このランキングシステムはユーザー同士が切磋琢磨し、積極的に行動しやすい環境を作り出します。<br>
          相談者は回答を得られなければ、断捨離の一歩を踏み出すチャンスを逃してしまうかもしれません。<br>
          そうならないために、ランキングシステムはユーザーの積極性を生み出し、活動意欲を高めます。<br>
          相談者に解決策を提供し、ランキング上位を目指しましょう。
        </p>
      </div>
      <div class="col-md-5">
        <%= image_tag "ranking.png", style: "max-width: 100%; height: auto; border-radius: 50%;" %>
      </div>
    </div>
    <hr class="featurette-divider mx-md-5">
  </div>
</div>