<h3 class="text-center mt-4 mb-4 subtitle-underline">
  <strong>回答（<%= counseling_post.post_comments.count %>件）</strong>
</h3>

<div class="card mb-3" style="height: 800px; overflow-y: scroll;">
  <div class="card-body answer-card mb-1">
    <% counseling_post.post_comments.each do |post_comment| %>
      <div class="d-flex align-items-start mt-2">
        <%= link_to user_path(post_comment.user_id), remote: true do %>
          <%= image_tag post_comment.user.get_profile_image(50, 50), class: "rounded-circle mr-3 user-image" %>
        <% end %>
        <div>
          <%= link_to user_path(post_comment.user_id), remote: true do %>
            <p class="card-title mb-0 user-name"><%= post_comment.user.name %>さん</p>
          <% end %>
          <p class="card-text mb-0"><small><%= time_ago_in_words(post_comment.created_at) %>前</small></p>
        </div>
      </div>
      <div class="answer-comment">
        <p class="card-text"><%= simple_format(post_comment.comment) %></p>
        <div id="good_comment_btn_<%= post_comment.id %>">
          <%= render "public/good_comments/btn", counseling_post: counseling_post, post_comment: post_comment %>
        </div>
        <% if post_comment.user == current_user %>
          <div class="d-flex justify-content-end mb-1">
            <%= link_to "削除", counseling_post_post_comment_path(post_comment.counseling_post, post_comment), remote: true, method: :delete %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
