<h3 class="mt-5 mb-4">
  <strong>回答（<%= counseling_post.post_comments.count %>件）</strong>
</h3>

<% post_comments.each do |post_comment| %>
  <div class="mb-2">
    <div class="comment-card-body d-flex">
      <div class="d-flex flex-column align-items-start mt-2">
        <div style="width: 100px;">
          <%= link_to user_path(post_comment.user_id) do %>
            <%= image_tag post_comment.user.get_profile_image, size: '50x50', class: "rounded-circle mr-3 user-image" %>
          <% end %>
          <div>
            <%= link_to user_path(post_comment.user_id),class: "user-link" do %>
              <p class="card-title mb-0 text-wrap"><%= post_comment.user.name %>さん</p>
            <% end %>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="answer-comment d-flex flex-column justify-content-between">
          <p class="card-text mb-0"><small><%= time_ago_in_words(post_comment.created_at) %>前</small></p>
          <div class="card-text" style="word-wrap: break-word; word-break: break-all; overflow-wrap: break-word;">
            <%= simple_format(post_comment.comment) %>
          </div>
          <div id="good_comment_btn_<%= post_comment.id %>">
            <%= render "public/good_comments/btn", counseling_post: counseling_post, post_comment: post_comment %>
          </div>
          <% if post_comment.user == current_user %>
            <div class="mt-auto d-flex justify-content-end mb-1">
              <%= link_to "削除", counseling_post_post_comment_path(post_comment.counseling_post, post_comment), class: "btn btn-delete", remote: true, method: :delete %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>