<h3 class="mt-5 mb-4">
  <strong>回答（<%= counseling_post.post_comments.count %>件）</strong>
</h3>

<% counseling_post.post_comments.each do |post_comment| %>
  <div class="mb-2">
    <div class="comment-card-body d-flex">
      <div class="d-flex flex-column align-items-start mt-2">
        <div style="width: 100px;">
          <%= link_to admin_user_path(post_comment.user_id) do %>
            <%= image_tag post_comment.user.get_profile_image, size: '50x50', class: "rounded-circle mr-3 user-image" %>
          <% end %>
          <div>
            <%= link_to admin_user_path(post_comment.user_id),class: "user-link" do %>
              <p class="card-title mb-0"><%= post_comment.user.name %>さん</p>
            <% end %>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="answer-comment d-flex flex-column justify-content-between">
          <p class="card-text mb-0"><small><%= time_ago_in_words(post_comment.created_at) %>前</small></p>
          <p class="card-text" style="word-wrap: break-word; word-break: break-all;">
            <%= post_comment.comment %>
          </p>
          <% if current_admin %>
            <div class="mt-auto d-flex justify-content-end mb-1">
              <%= link_to "削除", admin_counseling_post_post_comment_path(post_comment.counseling_post, post_comment), remote: true, class: "btn btn-delete", method: :delete %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>