<div class="col-md-6">
  <h3><strong>投票しよう</strong></h3>
  <h5 class="py-3" style="font-size: 25px;">Ｑ捨てるべきですか？捨てないべきですか？</h5>
  <div>
    <%= form_with model: vote, url: counseling_post_votes_path(counseling_post), local: true, method: :post do |f| %>
      <%= f.hidden_field :option, value: "" %>
      <div class="row justify-content-center">
        <div class="col">
          <div class="btn-group-toggle d-flex flex-column">
            <div class="form-group">
              <label id="discard-btn" class="btn btn-block" for="vote_option_discard">
                <%= f.radio_button :option, 'discard', class: 'd-none' %>
                捨てる
              </label>
            </div>
            <div class="form-group">
              <label id="keep-btn" class="btn btn-block" for="vote_option_keep">
                <%= f.radio_button :option, 'keep', class: 'd-none' %>
                捨てない
              </label>
            </div>
            <div class="form-group">
              <label id="either-btn" class="btn btn-block" for="vote_option_either">
                <%= f.radio_button :option, 'either', class: 'd-none' %>
                どちらでもよい
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col">
          <p>※投票は1人1回までです</p>
          <% if user_vote %>
            <p>
              <strong>あなたは「<%= user_vote.option_i18n %>」に投票済です</strong><br>
              (選択を変更したい場合は、再投票を行うことが可能です)
            </p>
          <% end %>
          <%= f.submit '投票', class: "btn btn-submit btn-block mt-2" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
