<div class="col-6">
  <h3 class="mt-5 mb-2 subtitle-underline"><strong>投票しよう</strong></h3>
  <h5 class="mt-3">Ｑ捨てるべきですか？捨てないべきですか？</h5>
  <div>
    <%= form_with model: vote, url: counseling_post_votes_path(counseling_post), local: true, method: :post do |f| %>
      <div class="row justify-content-center">
        <div class="col">
          <div class="btn-group-toggle d-flex flex-column" data-toggle="buttons">
            <label class="btn discard-btn">
              <%= f.radio_button :option, 'discard' %>
              <%= f.label :option_discard, '捨てる', class: "btn btn-block", id: "discard-btn" %>
            </label>
            <label class="btn keep-btn">
              <%= f.radio_button :option, 'keep' %>
              <%= f.label :option_keep, '捨てない', class: "btn btn-block mt-1", id: "keep-btn" %>
            </label>
            <label class="btn either-btn">
              <%= f.radio_button :option, 'either' %>
              <%= f.label :option_either, 'どちらでもよい', class: "btn btn-block mt-1", id: "either-btn" %>
            </label>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col">
          <p>※投票は1人1回までです</p>
          <% if user_vote %>
            <p><strong>あなたは「<%= user_vote.option_i18n %>」に投票済です</strong></p>
          <% end %>
          <%= f.submit '投票', class: "btn btn-submit btn-block mt-2" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
