<%= form_with model: counseling_post do |f| %>
  <div class="form-group">
    <%= f.label :image, "画像", class: "font-weight-bold" %></br>
    <%= f.file_field :image, accept: "image/*" %>
    <div class="preview mt-3">
      <% if @counseling_post.image.present? %>
        <%= image_tag @counseling_post.get_image, size: '500x500', class: "card-img", id: "card-img" %>
      <% end %>
        <img id="image-preview" src="#" alt="プレビュー" class="card-img mt-2">
    </div>
  </div>

  <div class="form-group">
    <div class="d-flex align-items-center">
      <%= f.label :title, "相談タイトル", class: "font-weight-bold mt-3 mr-2" %>
      <span class="required">必須</span>
    </div>
    <%= f.text_field :title, class: "form-control", placeholder: "ここにタイトルを入力してください (50文字以内)" %>
  </div>

  <div class="form-group">
    <div class="d-flex align-items-center">
      <%= f.label :content, "相談内容", class: "font-weight-bold mt-3 mr-2" %>
      <span class="required">必須</span>
    </div>
    <%= f.text_area :content, placeholder: "ここに相談内容の詳細を入力してください (500文字以内)", class: "form-control", rows: 10 %>
  </div>

  <div class="form-group">
    <%= f.label :usage_frequency, "使用頻度を選択してください", class: "font-weight-bold mt-3" %><br>
    <%= f.select :usage_frequency, options_for_select(CounselingPost.usage_frequencies_i18n.keys.map { |key| [CounselingPost.usage_frequencies_i18n[key], key] }, counseling_post.usage_frequency), include_blank: "選択してください" %>
  </div>

  <div class="form-group">
    <%= f.label :star,"お気に入り度を入力してください", class: "font-weight-bold mt-3" %>
    <%= f.hidden_field :star, id: :review_star, class: 'form-control' %>
    <div id="stars"></div>
  </div>
  <script>
    $(document).on('turbolinks:load', function() {
      let elem = document.querySelector('#stars');
      if (elem == null)return;
        elem.innerHTML = ""
        let opt = {
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        scoreName: 'counseling_post[star]',
        score: "<%= isEdit ? counseling_post.star : 0 %>"
      };
      raty(elem,opt);
    });
  </script>

  <div class="form-group tag-index">
    <%= f.label :tag_ids, "タグの一覧（複数選択可）", class: "font-weight-bold mt-3" %>
    <div class="d-flex flex-wrap">
      <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
        <div class="form-check mr-4 my-2">
          <%= tag.label class: 'form-check-label' do %>
            <%= tag.check_box class: 'form-check-input' %>
            <span><%= tag.text %></span>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <% if counseling_post.id.nil? %>
    <%= f.hidden_field :status, value: "answer_reception" %>
  <% else %>
    <div class="form-group">
      <div class="d-flex align-items-center">
        <%= f.label :status, "ステータスを選択してください", class: "font-weight-bold mt-3" %>
        <span class="required">必須</span><br>
      </div>
      <%= f.select :status, options_for_select(CounselingPost.statuses_i18n.keys.map { |key| [CounselingPost.statuses_i18n[key], key] }, counseling_post.status), include_blank: "選択してください" %>
    </div>
  <% end %>
  <div class="actions mt-5">
    <%= f.submit "投稿", class: "btn btn-color-blue w-100" %>
  </div>
<% end %>

