<div id="rate_<%= counseling_post.id %>"></div>
<script>
$(document).on('turbolinks:load', function() {
  let elem = document.querySelector('#rate_<%= counseling_post.id %>');
  if (elem == null) return;

  elem.innerHTML = "";
  let opt = {
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    scoreName: 'counseling_post[star]',
    score: "<%= counseling_post.star %>",
    readOnly: true,
  };
  raty(elem, opt);
});
</script>