<div class="container">
  <h3 class="text-center mb-5 mt-3">お悩み相談</h3>
  <% if params[:tag_ids].present? %>
    <h5 class="text-center">「<%= Tag.find(params[:tag_ids]).name %>」タグの検索結果</h5>
  <% end %>
  <% if params[:content].present? %>
    <h5 class="text-center">「<%= params[:content] %>」の検索結果</h5>
  <% end %>
  <div class="mt-5">
    <%= render "public/counseling_posts/search" %>
    <%= render "public/counseling_posts/tag_search" %>
  </div>
  <div class="row mb-2 d-flex justify-content-between">
    <%= link_to '相談・質問をする', new_counseling_post_path, class: "btn btn-color text-center col-3" %>
    <%= link_to "新着順", counseling_posts_path, class: "btn text-center btn-color col-3" %>
    <%= link_to "回答受付中", counseling_posts_path(status: "answer_reception"), class: "btn btn-color text-center col-3" %>
    <%= link_to "解決済", counseling_posts_path(status: "resolved"), class: "btn btn-color text-center col-3" %>
  </div>
  <div class="row post-list">
    <% @counseling_posts.each do |counseling_post| %>
      <div class="col-md-4 mt-2 mb-2 post-card">
        <%= link_to counseling_post_path(counseling_post.id), class: "post-link" do %>
          <div class="mb-4">
            <div class="card-img-container">
              <%= image_tag counseling_post.get_image, size: '200x300', class: "card-img" %>
              <p class="post-status"><strong><%= counseling_post.status_i18n %></strong></p>
            </div>
            <h5 class="post-title mt-2" style="white-space: pre-wrap; overflow-wrap: break-word;"><strong><%= counseling_post.title %></strong></h5>
            <p class="post-text overflow-hidden text-overflow-ellipsis text-truncate mb-4"><%= counseling_post.content %></p>
            <%= counseling_post.created_at.strftime("%Y年%m月%d日") %>
            <div class="d-flex justify-content-between align-items-end">
              <div class="d-flex align-items-end">
                <%= image_tag counseling_post.user.get_profile_image, size: '50x50', class: "user-image rounded-circle" %>
                <div>
                  <%= counseling_post.user.name %>さん
                </div>
              </div>
              <div>
                <i class="fa-regular fa-message comment-icon"></i><span class="comment-count ml-2"><%= counseling_post.post_comments.count %></span>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= paginate @counseling_posts %>
</div>