<div class="py-4" style=" background-color: #19A7CE;">
  <h2 class="text-center" style="color: #FFF; font-weight: bold;">お悩み相談</h2>
  <span style="display: block; text-align: center; font-size: 20px;">Q&A</span>
</div>

<%= render "layouts/flash" %>
<div class="container">
  <div class="row mb-2 py-3 text-center" style="background-color: #f8f8f8; border: 1px solid #EBEBEB;">
    <div class="col">
      <%= link_to "新着順", counseling_posts_path, class: "custom-link" %>
    </div>
    <div class="col-auto">
      |
    </div>
    <div class="col">
      <%= link_to "回答受付中", counseling_posts_path(status: "answer_reception"), class: "custom-link" %>
    </div>
    <div class="col-auto">
      |
    </div>
    <div class="col">
      <%= link_to "解決済", counseling_posts_path(status: "resolved"), class: "custom-link" %>
    </div>
  </div>

  <div class="<%= flash[:notice] || flash[:alert] ? 'mt-0' : 'mt-5' %>">
    <% if @counseling_posts.blank? %>
      <p class="text-center">検索の結果、該当するものが見つかりませんでした。</p>
    <% elsif params[:tag_ids].present? %>
      <p class="text-center">「<%= Tag.find(params[:tag_ids]).name %>」タグの検索結果</p>
    <% elsif params[:content].present? %>
      <p class="text-center">「<%= params[:content] %>」の検索結果</p>
    <% end %>
  </div>

  <div class="mt-5">
    <div class="box mt-5 px-4 pt-4">
      <span class="box-title">検索<i class="fa-solid fa-magnifying-glass"></i></span>
      <%= render "public/counseling_posts/search" %>
      <%= render "public/counseling_posts/tag_search" %>
    </div>
  </div>

  <div class="row post-list">
    <% @counseling_posts.each do |counseling_post| %>
      <div class="col-md-4 my-2 padding-adjust">
        <div class="post-card">
          <%= link_to counseling_post_path(counseling_post.id), class: "post-link flex-container" do %>
            <div>
              <div class="card-img-container">
                <%= image_tag counseling_post.get_image, size: '200x300', class: "card-img" %>
                <p class="status-<%= counseling_post.status %>"><strong><%= counseling_post.status_i18n %></strong></p>
              </div>
              <h5 class="post-title mt-2 px-3" style="white-space: pre-wrap; overflow-wrap: break-word;"><strong><%= counseling_post.title %></strong></h5>
              <div class="px-3">
                <%= counseling_post.created_at.strftime("%Y年%m月%d日") %>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-end bottom-aligned px-3">
              <div class="d-flex align-items-end">
                <%= image_tag counseling_post.user.get_profile_image, size: '50x50', class: "user-image rounded-circle" %>
                <div>
                  <%= counseling_post.user.name %>さん
                </div>
              </div>
              <div>
                <i class="fa-regular fa-message comment-icon"></i><span class="comment-count ml-2"><%= counseling_post.post_comments.count %></span>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @counseling_posts %>
</div>