<div class="py-4" style=" background-color: #19A7CE;">
  <h2 class="text-center" style="color: #FFF; font-weight: bold;">お悩み相談詳細</h2>
  <span style="display: block; text-align: center; font-size: 20px;">Q&A</span>
</div>

<%= render "layouts/flash" %>
<div class="container <%= flash[:notice] || flash[:alert] ? 'mt-2' : 'mt-2' %>">
  <div class="row mt-4">
    <div class="col-12">
      <div class="d-flex flex-column flex-sm-row justify-content-between align-items-start align-items-sm-center">
        <h1 class="status-<%= @counseling_post.status %> mb-3 mb-sm-0"><%= @counseling_post.status_i18n %></h1>
        <div>
          <% if current_user.id == @counseling_post.user_id %>
            <%= link_to "編集", edit_counseling_post_path(@counseling_post), class: "btn btn-color" %>
            <%= link_to "削除" , counseling_post_path(@counseling_post), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-delete ml-2" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">

    <!-- CounselingPost details left-->
    <div class="col-md-6">
      <%= image_tag @counseling_post.get_image, class: "img-fluid", style: "width: 100%; object-fit: cover; border-radius: 10px; box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);" %>
      <div class="d-flex justify-content-between mt-2">
        <div>
          質問日時：<%= @counseling_post.created_at.strftime("%Y年%m月%d日") %>
          <div class="d-flex align-items-end user-link mt-3">
            <%= link_to user_path(@counseling_post.user_id), class: "user-link" do %>
              <%= image_tag @counseling_post.user.get_profile_image, size: '80x80', class: "rounded-circle user-image" %>
            <% end %>
            <%= link_to user_path(@counseling_post.user_id), class: "ml-1 mb-0" do %>
              <%= @counseling_post.user.name %>さん
            <% end %>
          </div>
        </div>
        <div class="d-flex flex-column align-items-end">
          <div class="favorites-counter">
            <%= render "public/favorites/count", counseling_post: @counseling_post %>
          </div>
          <div class="mt-3" id="favorite_btn_<%= @counseling_post.id %>">
            <%= render "public/favorites/btn", counseling_post: @counseling_post %>
          </div>
        </div>
      </div>
    </div>

    <!-- CounselingPost details right-->
    <div class="col-md-6">
      <div class="card-border p-3 mb-3">
        <h4 class="border-bottom border-dark" style="white-space: pre-wrap; overflow-wrap: break-word;"><strong><%= @counseling_post.title %></strong></h4>
        <p style="white-space: pre-wrap; overflow-wrap: break-word;"><%= @counseling_post.content %></p>
        <div class="d-flex align-items-center mt-5">
          <% if @counseling_post.star.present? %>
            <div class="mr-2">お気に入り度：</div>
            <%= render "star", counseling_post: @counseling_post %>
          <% end %>
        </div>
        <% if @counseling_post.usage_frequency.present? %>
          <p class="mb-1">使用頻度： <%= @counseling_post.usage_frequency_i18n %></p>
        <% end %>
        <% if @counseling_post.tags.present? %>
          <% @counseling_post.tags.each do |tag| %>
            <%= link_to counseling_posts_path(tag_ids: tag.id), class: "tag-link btn-sm mb-1" do %>
              <span><i class="fa-solid fa-hashtag"></i><strong><%=tag.name%></strong></span>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <!-- Sentiment Analysis -->
      <% if @counseling_post.score.present? && @counseling_post.magnitude.present? %>
        <div class="p-3" style="background-color: #F5F5F5; border-radius: 10px; border: 2px solid #EBEBEB;">
          <h4><i class="fas fa-heartbeat"></i>感情分析：相談者理解の一助として</h4>
          <p style="font-size: 16px;">以下の結果は、相談内容から自動的に分析されたものです。</p>
          <table class="table mb-4" style="width: 100%; text-align: center; border: 1px solid #dee2e6; background-color: #FFF;">
            <tr style="background-color: #FFF;">
              <th style="padding: 10px;">感情の状態</th>
              <th style="padding: 10px;">感情の強さ</th>
            </tr>
            <tr>
              <td style="padding: 10px;">
                <% if @counseling_post.score <= -0.6 %>
                  <span style="color: red; font-weight: bold;"><i class="fa-solid fa-face-tired"></i>非常にネガティブ</span>
                <% elsif @counseling_post.score <= -0.2 %>
                  <span style="color: orange; font-weight: bold;"><i class="fa-solid fa-face-frown"></i>ややネガティブ</span>
                <% elsif @counseling_post.score <= 0.2 %>
                  <span style="color: #ffa500; font-weight: bold;"><i class="fa-regular fa-face-meh"></i>平穏な気持ち</span>
                <% elsif @counseling_post.score <= 0.6 %>
                  <span style="color: #9acd32; font-weight: bold;"><i class="fa-solid fa-face-smile"></i>ややポジティブ</span>
                <% else %>
                  <span style="color: green; font-weight: bold;"><i class="fa-solid fa-face-laugh-squint"></i>非常にポジティブ</span>
                <% end %>
              </td>
              <td style="padding: 10px; font-weight: bold;">
                <% if @counseling_post.magnitude >= 0.7 %>
                  <span style="color: #ff0000;"><i class="fa-solid fa-fire"></i>とても強い</span>
                <% elsif @counseling_post.magnitude >= 0.3 %>
                  <span style="color: #ffa500;"><i class="fa-solid fa-bolt-lightning"></i>やや強い</span>
                <% else %>
                  <span style="color: #008000;"><i class="fa-solid fa-leaf"></i>あまり強くない</span>
                <% end %>
              </td>
            </tr>
          </table>
          <p style="font-size: 14px;"><em>※感情分析は自動化ツールによる予測結果です。正確性や完全性は保証されませんので、参考程度にご利用ください。具体的な状況や背景も考慮して判断してください。</em></p>
        </div>
      <% end %>
    </div>
  </div>

  <!-- Vote section -->
  <div class="row mt-3">
    <%= render 'public/votes/vote_result', counseling_post: @counseling_post, vote: @vote, user_vote: @user_vote, keep_votes: @keep_votes, either_votes: @either_votes, discard_votes: @discard_votes %>
    <%= render 'public/votes/vote', counseling_post: @counseling_post, vote: @vote, user_vote: @user_vote, keep_votes: @keep_votes, either_votes: @either_votes, discard_votes: @discard_votes %>
  </div>

  <!-- Comments section -->
  <div class="row mt-3 comment-area">
    <div class="col-12">
      <div class="errors">
        <%= render 'layouts/error', obj: @post_comment %>
      </div>
      <div id="flash-message">
        <% if flash[:post_comment_created] %>
          <%= render "layouts/flash", message: flash[:post_comment_created] %>
        <% end %>
      </div>
      <%= render "public/post_comments/form", counseling_post: @counseling_post, post_comment: @post_comment %>
      <div class="post-comments-index">
        <%= render "public/post_comments/index", counseling_post: @counseling_post, post_comments: @post_comments %>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center mt-4">
    <%= link_to "一覧に戻る", counseling_posts_path %>
  </div>
</div>