<div class="container">
  <div class="row mt-4">
    <div class="d-flex">
      <h1 class="post-status"><%= @counseling_post.status_i18n %></h1>
    </div>
    <div class="ml-auto">
      <% if current_user.id == @counseling_post.user_id %>
        <%= link_to "編集", edit_counseling_post_path(@counseling_post), class: "btn btn-color" %>
        <%= link_to "削除" , counseling_post_path(@counseling_post), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-delete ml-2" %>
      <% end %>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-6">
      <%= image_tag @counseling_post.get_image, size: '500x500', class: "card-img"%>
      <div class="d-flex justify-content-between mt-2">
        <div>質問日時：<%= @counseling_post.created_at.strftime("%Y年%m月%d日") %></div>
        <div class="d-flex flex-column align-items-end">
          <div class="favorites-counter">
            <%= render "public/favorites/count", counseling_post: @counseling_post %>
          </div>
          <div id="favorite_btn_<%= @counseling_post.id %>" >
            <%= render "public/favorites/btn", counseling_post: @counseling_post %>
          </div>
        </div>
      </div>
      <h3 class="mt-5 mb-2 subtitle-underline"><strong>相談者</strong></h3><br>
      <div class="d-flex align-items-end user-link">
        <%= link_to user_path(@counseling_post.user_id), class: "user-link" do %>
          <%= image_tag @counseling_post.user.get_profile_image, size: '80x80', class: "rounded-circle user-image mt-2" %>
        <% end %>
        <%= link_to @counseling_post.user.name, user_path(@counseling_post.user_id), class: "ml-1 mb-0" %>さん
      </div>
    </div>

    <div class="col-6">
      <div class="card-border p-3">
        <h4 class="border-bottom border-dark"><strong><%= @counseling_post.title %></strong></h4>
        <p style="white-space: pre-wrap; overflow-wrap: break-word;"><%= @counseling_post.content %></p>
        <div class="d-flex align-items-center mt-5">
          <% if @counseling_post.star.present? %>
            <div class="mr-2">お気に入り度： </div>
            <%= render "star", counseling_post: @counseling_post %>
          <% end %>
        </div>
        <% if @counseling_post.usage_frequency.present? %>
          <p>使用頻度： <%= @counseling_post.usage_frequency_i18n %></p>
          <% if @counseling_post.tags.present? %>
            <% @counseling_post.tags.each do |tag| %>
              <%= link_to counseling_posts_path(tag_ids: tag.id), class: "tag-link btn-sm" do %>
                <span>#<%=tag.name%></span>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <!--投票-->
  <div class="row">
    <%= render 'public/votes/vote_result', counseling_post: @counseling_post, vote: @vote, user_vote: @user_vote, keep_votes: @keep_votes, either_votes: @either_votes, discard_votes: @discard_votes %>
    <%= render 'public/votes/vote', counseling_post: @counseling_post, vote: @vote, user_vote: @user_vote, keep_votes: @keep_votes, either_votes: @either_votes, discard_votes: @discard_votes %>
  </div>

  <div class="row mt-5">
    <div class="col-12">
      <div class="errors">
        <%= render 'layouts/error', obj: @post_comment %>
      </div>
      <div id="flash-message">
        <% if flash[:post_comment_created] %>
          <%= render "layouts/flash", message: flash[:post_comment_created] %>
        <% end %>
      </div>
      <%= render "public/post_comments/form", counseling_post: @counseling_post, post_comment: @post_comment %>
      <div class="post-comments-index">
        <%= render "public/post_comments/index", counseling_post: @counseling_post, post_comments: @post_comments %>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center mt-2">
    <%= link_to "一覧に戻る", counseling_posts_path, class: "btn btn-color" %>
  </div>
</div>