<div class="py-4" style=" background-color: #19A7CE;">
  <h2 class="text-center" style="color: #FFF; font-weight: bold;">登録情報編集</h2>
  <span style="display: block; text-align: center; font-size: 20px;">edit</span>
</div>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-sm-8 col-12 mt-2 px-0">
      <%= render 'layouts/error', obj: @user %>
      <h4 class="mt-4"><%= @user.name %>さんの登録情報編集</h4>
    </div>
    <div class="col-sm-8 col-12 mt-3 mb-5 p-3" style="background-color: #f8f8f8; border-radius: 10px; border: 1px solid #EBEBEB;">
      <%= form_with model: @user, url: admin_user_path(@user), method: :patch do |f| %>
        <div class="form-group">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td>会員ID</td>
                <td><%= @user.id %></td>
              </tr>
              <tr>
                <td><%= f.label :name, "名前" %></td>
                <td><%= f.text_field :name, class: "form-control" %></td>
              </tr>
              <tr>
                <td><%= f.label :email, "メールアドレス" %></td>
                <td><%= f.email_field :email, class: "form-control" %></td>
              </tr>
              <tr>
                <td><%= f.label :introduction, "紹介文" %></td>
                <td><%= f.text_area :introduction, class: "form-control" %></td>
              </tr>
              <tr>
                <td>会員ステータス</td>
                <td>
                  <%= f.radio_button :is_deleted, false, id: "is_deleted_false" %>
                  <%= f.label :is_deleted_false, "有効" %>
                  <%= f.radio_button :is_deleted, true, id: "is_deleted_true" %>
                  <%= f.label :is_deleted_true, "退会" %>
                </td>
              </tr>
              <tr>
                <td></td>
                <td><%= f.submit "変更を保存", class: "btn btn-submit" %></td>
              </tr>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-12 text-center">
    <%= link_to "戻る", admin_user_path(@user) %>
  </div>
</div>