<div class="container">
  <h3 class="text-center mb-5 mt-3">登録者一覧</h3>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>会員ID</th>
          <th>ユーザー名</th>
          <th>メールアドレス</th>
          <th>会員ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td>
            <%= link_to admin_user_path(user.id) do %>
              <%= image_tag user.get_profile_image, size: '50x50', class: "rounded-circle user-image" %>
              <%= user.name %>
            <% end %>
          </td>
          <td><%= user.email %></td>
          <% if user.is_deleted == false %>
            <td class="text-success font-weight-bold">有効</td>
          <% else %>
            <td class="text-secondary font-weight-bold">退会</td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>