<div class="py-4" style=" background-color: #19A7CE;">
  <h2 class="text-center" style="color: #FFF; font-weight: bold;">会員一覧</h2>
  <span style="display: block; text-align: center; font-size: 20px;">users</span>
</div>

<div class="container mt-5">
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>会員ID</th>
          <th>ユーザー名</th>
          <th>メールアドレス</th>
          <th>会員ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td>
            <%= link_to admin_user_path(user.id) do %>
              <div class="user-info">
                <%= image_tag user.get_profile_image, size: '50x50', class: "rounded-circle user-image" %>
                <%= user.name %>
              </div>
            <% end %>
          </td>
          <td><%= user.email %></td>
          <% if user.is_deleted == false %>
            <td class="text-success font-weight-bold">有効</td>
          <% else %>
            <td class="text-secondary font-weight-bold">退会</td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>