<div class="py-4" style=" background-color: #19A7CE;">
  <h2 class="text-center" style="color: #FFF; font-weight: bold;">会員情報詳細</h2>
  <span style="display: block; text-align: center; font-size: 20px;">users</span>
</div>

<%= render "layouts/flash" %>
<div class="container mt-5">
  <div class="row mb-2 justify-content-between align-items-end no-gutters">
    <h4><%= @user.name %>さんの会員情報</h4>
    <%= link_to admin_user_counseling_posts_index_path(@user), class: "btn btn-color btn-sm" do %>
      <%= @user.name %>さんの投稿を見る
    <% end %>
  </div>

  <div class="row no-gutters">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td class="col-sm-2 col-4">会員ID</td>
          <td><%= @user.id %></td>
        </tr>
        <tr>
          <td class="col-sm-2 col-4"></td>
          <td><%= image_tag @user.get_profile_image, size: '80x80', class: "rounded-circle user-image" %></td>
        </tr>
        <tr>
          <td class="col-sm-2 col-4">ユーザー名</td>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <td class="col-sm-2 col-4">自己紹介</td>
          <td><%= @user.introduction %></td>
        </tr>
        <tr>
          <td class="col-sm-2 col-4">会員ステータス</td>
          <% if @user.is_deleted == false %>
            <td class="text-success font-weight-bold">有効</td>
          <% else %>
            <td class="text-secondary font-weight-bold">退会</td>
          <% end %>
        </tr>

        <tr>
          <td></td>
          <td>
            <%= link_to "編集する", edit_admin_user_path(@user.id), class: "btn btn-color btn-sm" %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="text-center mt-5"><%= link_to "会員一覧に戻る", admin_users_path %></div>
</div>