<div class="py-4" style=" background-color: #19A7CE;">
  <h2 class="text-center" style="color: #FFF; font-weight: bold;">お悩み相談</h2>
  <span style="display: block; text-align: center; font-size: 20px;">Q&A</span>
</div>

<%= render "layouts/flash" %>
<div class="container mt-3">
  <!-- Sorting Links -->
  <% unless params[:tag_ids].present? || params[:content].present? %>
    <div class="row no-gutters mb-5 mt-2 py-3 text-center" style="background-color: #f8f8f8; border: 2px solid #EBEBEB; border-radius: 8px;">
      <div class="col">
        <%= link_to "新着順", admin_counseling_posts_path, class: !params[:status] ? "custom-link-active" : "custom-link" %>
      </div>
      <div class="col-auto">
        |
      </div>
      <div class="col">
        <%= link_to "回答受付中", admin_counseling_posts_path(status: "answer_reception"), class: current_status?("answer_reception") ? "custom-link-active" : "custom-link" %>
      </div>
      <div class="col-auto">
        |
      </div>
      <div class="col">
        <%= link_to "解決済", admin_counseling_posts_path(status: "resolved"), class: current_status?("resolved") ? "custom-link-active" : "custom-link" %>
      </div>
    </div>
  <% end %>

  <!-- Search -->
  <div class="mt-5">
    <div class="box mt-5 px-4 pt-4">
      <span class="box-title">検索<i class="fa-solid fa-magnifying-glass"></i></span>
      <%= render "admin/counseling_posts/search" %>
      <%= render "admin/counseling_posts/tag_search" %>
    </div>
  </div>

  <!-- Posts Display -->
  <div>
    <% if @counseling_posts.blank? %>
      <p class="text-center">該当するものが見つかりませんでした。</p>
      <div class="text-center mt-5"><%= link_to "一覧に戻る", admin_counseling_posts_path %></div>
    <% elsif params[:tag_ids].present? %>
      <p class="text-center" style="font-size: 25px;">「<%= Tag.find(params[:tag_ids]).name %>」タグの検索結果</p>
    <% elsif params[:content].present? %>
      <p class="text-center" style="font-size: 25px;">「<%= params[:content] %>」の検索結果</p>
    <% end %>
  </div>

  <div class="row no-gutters post-list mt-2">
    <%= render "index", counseling_posts: @counseling_posts %>
  </div>
  <%= paginate @counseling_posts %>
</div>

