<div class="container">
  <h3 class="text-center mb-5 mt-3">～お悩み相談一覧～</h3>
  <% if @counseling_posts.blank? %>
    <p class="text-center">検索の結果、該当するものが見つかりませんでした。</p>
  <% elsif params[:tag_ids].present? %>
    <p class="text-center">「<%= Tag.find(params[:tag_ids]).name %>」タグの検索結果</p>
  <% elsif params[:content].present? %>
    <p class="text-center">「<%= params[:content] %>」の検索結果</p>
  <% end %>
  <div class="mt-5">
    <%= render "admin/counseling_posts/search" %>
    <%= render "admin/counseling_posts/tag_search" %>
  </div>
  <div class="row mb-2 d-flex justify-content-between">
    <%= link_to "新着順", admin_counseling_posts_path, class: "btn text-center btn-color col-4" %>
    <%= link_to "回答受付中", admin_counseling_posts_path(status: "answer_reception"), class: "btn btn-color text-center col-4" %>
    <%= link_to "解決済", admin_counseling_posts_path(status: "resolved"), class: "btn btn-color text-center col-4" %>
  </div>
  
  <div class="row mt-2">
    <% @counseling_posts.each do |counseling_post| %>
      <div class="col-md-4 my-2 padding-adjust">
        <div class="post-card">
          <%= link_to admin_counseling_post_path(counseling_post.id), class: "post-link flex-container" do %>
            <div>
              <div class="card-img-container">
                <%= image_tag counseling_post.get_image, size: '200x300', class: "card-img" %>
                <p class="status-<%= counseling_post.status %>"><strong><%= counseling_post.status_i18n %></strong></p>
              </div>
              <h5 class="post-title mt-2 px-3" style="white-space: pre-wrap; overflow-wrap: break-word;"><strong><%= counseling_post.title %></strong></h5>
              <!--<p class="post-text overflow-hidden text-overflow-ellipsis text-truncate mb-4"><%#= counseling_post.content %></p>-->
              <div class="px-3">
                <%= counseling_post.created_at.strftime("%Y年%m月%d日") %>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-end bottom-aligned px-3">
              <div class="d-flex align-items-end">
                <%= image_tag counseling_post.user.get_profile_image, size: '50x50', class: "user-image rounded-circle" %>
                <div>
                  <%= counseling_post.user.name %>さん
                </div>
              </div>
              <div>
                <i class="fa-regular fa-message comment-icon"></i><span class="comment-count ml-2"><%= counseling_post.post_comments.count %></span>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

