<div class="container">
  <div class="row">
    <div class="d-flex">
      <h1 class="post-status"><%= @counseling_post.status_i18n %></h1>
    </div>
    <div class="ml-auto">
      <% if current_admin %>
        <%= link_to "この投稿を削除する", admin_counseling_post_path(@counseling_post), method: :delete, class: "btn btn-delete", data: { confirm: 'の投稿を削除しますか？' } %>
      <% end %>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-6">
      <%= image_tag @counseling_post.get_image, size: '500x500', class: "card-img"%>
      <div class="d-flex justify-content-between mt-2">
        <div>質問日時：<%= @counseling_post.created_at.strftime("%Y年%m月%d日") %></div>
      </div>
      <h3 class="mt-5"><strong>相談者</strong></h3><br>
      <div class="d-flex align-items-end">
        <%= link_to admin_user_path(@counseling_post.user_id) do %>
          <%= image_tag @counseling_post.user.get_profile_image, size: '80x80', class: "user-image rounded-circle bordered-image mt-2" %>
        <% end %>
        <%= link_to @counseling_post.user.name, admin_user_path(@counseling_post.user_id), class: "ml-1 mb-0" %>さん
      </div>
    </div>

    <div class="col-6">
      <div class="card-border p-3">
        <h3 class="border-bottom border-dark"><strong><%= @counseling_post.title %></strong></h3>
        <p style="white-space: pre-wrap; overflow-wrap: break-word;"><%= @counseling_post.content %></p>
        <div class="d-flex align-items-center mt-5">
          <div class="mr-2">お気に入り度： </div>
          <%= render "star", counseling_post: @counseling_post %>
        </div>
        <p>使用頻度： <%= @counseling_post.usage_frequency_i18n %></p>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12" id="flash-message">
      <% if flash[:post_comment_created] %>
        <%= render "layouts/flash", message: flash[:post_comment_created] %>
      <% end %>
    </div>
    <div class="col-12 post-comments-index">
      <%= render "admin/post_comments/index", counseling_post: @counseling_post %>
    </div>
  </div>
</div>