<div class="py-4" style=" background-color: #19A7CE;">
  <h2 class="text-center" style="color: #FFF; font-weight: bold;">お悩み相談詳細</h2>
  <span style="display: block; text-align: center; font-size: 20px;">Q&A</span>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <div class="d-flex flex-column flex-sm-row justify-content-between align-items-start align-items-sm-center">
        <h1 class="status-<%= @counseling_post.status %> mb-3 mb-sm-0"><%= @counseling_post.status_i18n %></h1>
        <div>
          <% if current_admin %>
            <%= link_to "この投稿を削除する", admin_counseling_post_path(@counseling_post), method: :delete, class: "btn btn-delete", data: { confirm: 'の投稿を削除しますか？' } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">

    <!-- CounselingPost details left-->
    <div class="col-md-6">
      <%= image_tag @counseling_post.get_image, class: "img-fluid", style: "border-radius: 10px; box-shadow: 0 0 8px rgba(0, 0, 0, .16);" %>
      <div class="d-flex justify-content-between mt-2">
        <div>
          質問日時：<%= @counseling_post.created_at.strftime("%Y年%m月%d日") %>
          <div class="d-flex align-items-end user-link mt-3">
            <%= link_to admin_user_path(@counseling_post.user_id), class: "user-link" do %>
              <%= image_tag @counseling_post.user.get_profile_image, size: '80x80', class: "rounded-circle user-image" %>
            <% end %>
            <%= link_to admin_user_path(@counseling_post.user_id), class: "ml-1 mb-0" do %>
              <%= @counseling_post.user.name %>さん
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <!-- CounselingPost details right-->
    <div class="col-md-6">
      <div class="card-border p-3">
        <h4 class="border-bottom border-dark" style="white-space: pre-wrap; overflow-wrap: break-word;"><strong><%= @counseling_post.title %></strong></h4>
        <p style="white-space: pre-wrap; overflow-wrap: break-word;"><%= @counseling_post.content %></p>
        <div class="d-flex align-items-center mt-5">
          <% if @counseling_post.star.present? %>
            <div class="mr-2">お気に入り度：</div>
            <%= render "star", counseling_post: @counseling_post %>
          <% end %>
        </div>
        <% if @counseling_post.usage_frequency.present? %>
          <p>使用頻度： <%= @counseling_post.usage_frequency_i18n %></p>
        <% end %>
        <% if @counseling_post.tags.present? %>
          <% @counseling_post.tags.each do |tag| %>
            <%= link_to admin_counseling_posts_path(tag_ids: tag.id), class: "tag-link btn-sm mb-1" do %>
              <span><i class="fa-solid fa-hashtag"></i><strong><%=tag.name%></strong></span>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Comments section -->
  <div class="row mt-5">
    <div class="col-12" id="flash-message">
      <% if flash[:post_comment_created] %>
        <%= render "layouts/flash", message: flash[:post_comment_created] %>
      <% end %>
    </div>
    <div class="col-12 post-comments-index comment-area">
      <%= render "admin/post_comments/index", counseling_post: @counseling_post %>
    </div>
  </div>

  <!-- Back link -->
  <div class="col-12 text-center mt-5">
    <%= link_to "戻る", admin_counseling_posts_path, class: "text-center" %>
  </div>
</div>