<div class="container">
  <h2 class="text-center">参考になった相談一覧</h2>
  <div class="row">
    <div class="col-12">
      <% if @counseling_posts.present? %>
        <table class="table">
          <% @counseling_posts.each do |counseling_post| %>
            <tbody>
              <tr>
                <td style="width: 20%">
                  <%= image_tag counseling_post.get_image, size: '100x100', class: "card-img" %>
                </td>
                <td style="width: 20%">
                  <%= counseling_post.title %>
                </td>
                <td style="width: 20%">
                  <%= counseling_post.content %>
                </td>
                <td style="width: 20%">
                  <%= link_to "詳細",counseling_post_path(counseling_post.id), class: "btn btn-dark" %>
                </td>
                <td style="width: 20%">
                  <%= render "public/favorites/btn", counseling_post: counseling_post %>
                </td>
              </tr>
            </tbody>
          <% end %>
        </table>
      <% else %>
        <p>参考になった相談はまだありません</p>
      <% end %>
    </div>
  </div>
</div>
