<div class="main">
  <div class="card devise-card">
    <div class="form-wrap">
      <div class="form-group text-center new-post mb-0">
        <h4><strong>プロフィール編集</strong></h4>
      </div>
      <%= render 'layouts/error', obj: @user %>
      <div class="new-form">
        <%= form_with model: @user do |f| %>
          <div class="form-group">
            <%= f.label :profile_image, "プロフィール画像" %><br>
            <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>
          </div>
          <div class="preview mt-3">
            <% if current_user.profile_image.present? %>
              <%= image_tag current_user.get_profile_image(200, 200), class: "rounded-circle user-card-img user-image" %>
            <% end %>
              <img id="user-image-preview" src="#" alt="プレビュー" class="rounded-circle mt-2">
          </div>
          <div class="form-group">
            <%= f.label :name,  "名前" %>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :introduction,  "自己紹介" %>
            <%= f.text_area :introduction, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.submit "更新する", class: "btn btn-submit w-100" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="text-center">
    <%= link_to "退会する", user_withdraw_confirm_path(current_user), class: "btn btn-delete" %>
  </div>
</div>