<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <div class="d-flex flex-column align-items-center user-profile">
        <% if @user.total_count == @top_count %>
          <%= image_tag "rank1.png", width: "200px", alt: "Rank 1 Badge" %>
        <% end %>
        <%= image_tag @user.get_profile_image, size: '100x100', class: "rounded-circle user-image mb-3" %>
        <p class="user-name"><strong><%= @user.name %></strong></p>
        <p class="mt-2 profile-introduction">自己紹介</p>
        <p class="profile-introduction-content" style="white-space: pre-wrap;"><%= @user.introduction %></p>
        <% if @user.name != "ゲストユーザー" && @user.id == current_user.id %>
          <%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-color profile-edit", style: "height: 50px;" %>
        <% end %>
        <table class="table table-bordered count-table mt-2">
          <thead>
            <tr>
              <th class="text-center">相談数</th>
              <th class="text-center">回答数</th>
              <th class="text-center">投票数</th>
              <th class="text-center col-3">グッドアドバイス数</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="text-center"><%= @user.counseling_posts.count %></th>
              <th class="text-center"><%= @user.post_comments.count %></th>
              <th class="text-center"><%= @user.votes.count %></th>
              <th class="text-center"><%= @good_comments_count %></th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="d-flex mt-5">
    <div class="col p-0">
      <%= link_to '相談した投稿', user_path(@user), class: "btn btn-color w-100" %>
    </div>
    <div class="col p-0">
      <%= link_to '参考になった投稿', user_path(@user, mode: 'favorites'), class: "btn btn-color w-100" %>
    </div>
  </div>


  <!--相談した投稿-->
  <% if params[:mode] != 'favorites' %>
    <% if @counseling_posts.present? %>
      <%= render "public/users/counseling_post", counseling_posts: @counseling_posts %>
    <% else %>
    <h3 class="text-center mt-5">相談した投稿</h3>
    <p class="mt-5">相談した投稿はまだありません。</p>
    <% end %>
  <% end %>

  <!--参考になった投稿-->
  <% if params[:mode] == 'favorites' %>
    <% if @counseling_favorites_posts.present? %>
      <%= render "public/users/counseling_post_favorites", counseling_favorites_posts: @counseling_favorites_posts %>
    <% else %>
  　　  <h3 class="text-center mt-4">参考になった投稿</h3>
      <p class="mt-5">参考になった投稿はまだありません。</p>
    <% end %>
  <% end %>

  <% if params[:mode] == 'favorites' %>
    <%= paginate @counseling_favorites_posts %>
  <% else %>
    <%= paginate @counseling_posts %>
  <% end %>
</div>