<div class="container mt-5">
  <div class="row">
    <div class="col-8 user-profile p-4">
      <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center">
          <%= image_tag @user.get_profile_image(100, 100), class: "rounded-circle mr-3" %>
          <p><strong><%= @user.name %></strong></p>
        </div>
        <% if @user.id == current_user.id %>
          <%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-color", style: "height: 50px;" %>
        <% end %>
      </div>
      <p class="mt-3 profile-introduction">自己紹介</p><br>
      <p class="profile-introduction-content" style="white-space: pre-wrap;"><%= @user.introduction %></p>
      <table class="table table-bordered mt-5">
        <thead>
          <tr>
            <th class="text-center">相談数</th>
            <th class="text-center">回答数</th>
            <th class="text-center">グッドアドバイス数</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="text-center"><%= @user.counseling_posts.count %></th>
            <th class="text-center"><%= @user.post_comments.count %></th>
            <th class="text-center"><%= @good_comments_count %></th>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-3 offset-1">
      <%= link_to "相談・質問をする", new_counseling_post_path, class: "btn btn-color btn-block" %>
      <%= link_to "参考になった相談一覧", counseling_post_favorites_users_path, class: "btn btn-color btn-block" %>
    </div>
  </div>

  <div class="row mt-5">
    <h3>投稿一覧</h3>
  </div>
  <div class="row post-list mt-3">
    <% @counseling_posts.each do |counseling_post| %>
      <div class="col-md-4 mt-2 mb-2 post-card">
        <%= link_to counseling_post_path(counseling_post.id), class: "post-link" do %>
          <div class="mb-4">
            <div class="card-img-container">
              <%= image_tag counseling_post.get_image, size: '200x300', class: "card-img" %>
              <p class="post-status"><strong><%= counseling_post.status_i18n %></strong></p>
            </div>
            <h5 class="post-title mt-2"><strong><%= counseling_post.title %></strong></h5>
            <p class="post-text overflow-hidden text-overflow-ellipsis text-truncate mb-4"><%= counseling_post.content %></p>
            <%= counseling_post.created_at.strftime("%Y年%m月%d日") %>
            <div class="d-flex align-items-end justify-content-start">
              <%= image_tag counseling_post.user.get_profile_image(50, 50), class: "user-image rounded-circle" %>
              <div>
                <%= counseling_post.user.name %>さん
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>