<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <div class="d-flex flex-column align-items-center user-profile">
        <% if @user.total_count == @top_count %>
          <%= image_tag "rank1.png", width: "200px", alt: "Rank 1 Badge" %>
        <% end %>
        <%= image_tag @user.get_profile_image(100, 100), class: "rounded-circle user-image mb-3" %>
        <p class="user-name"><strong><%= @user.name %></strong></p>
        <p class="mt-2 profile-introduction">自己紹介</p><br>
        <p class="profile-introduction-content" style="white-space: pre-wrap;"><%= @user.introduction %></p>
        <% if @user.name != "ゲストユーザー" && @user.id == current_user.id %>
          <%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-color profile-edit", style: "height: 50px;" %>
        <% end %>
        <table class="table table-bordered count-table mt-2">
          <thead>
            <tr>
              <th class="text-center">相談数</th>
              <th class="text-center">回答数</th>
              <th class="text-center">投票数</th>
              <th class="text-center col-3">グッドアドバイス数</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="text-center"><%= @user.counseling_posts.count %></th>
              <th class="text-center"><%= @user.post_comments.count %></th>
              <th class="text-center"><%= @user.votes.count %></th>
              <th class="text-center"><%= @good_comments_count %></th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <h3 class="mr-5 ml-3">相談の投稿一覧</h3>
    <%= link_to "参考になった相談一覧", counseling_post_favorites_users_path, class: "btn btn-color ml-3" %>
  </div>
  <% if @counseling_posts.present? %>
    <div class="row post-list mt-3">
      <% @counseling_posts.each do |counseling_post| %>
        <div class="col-md-4 mt-2 mb-2 post-card">
          <%= link_to counseling_post_path(counseling_post.id), class: "post-link" do %>
            <div class="mb-4">
              <div class="card-img-container">
                <%= image_tag counseling_post.get_image, size: '200x300', class: "card-img" %>
                <p class="post-status"><strong><%= counseling_post.status_i18n %></strong></p>
              </div>
              <h5 class="post-title mt-2"><strong><%= counseling_post.title %></strong></h5>
              <p class="post-text overflow-hidden text-overflow-ellipsis text-truncate mb-4"><%= counseling_post.content %></p>
              <%= counseling_post.created_at.strftime("%Y年%m月%d日") %>
              <div class="d-flex align-items-end justify-content-start">
                <%= image_tag counseling_post.user.get_profile_image(50, 50), class: "user-image rounded-circle" %>
                <div>
                  <%= counseling_post.user.name %>さん
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="mt-4">相談した投稿はありません。</p>
  <% end %>
  <%= paginate @counseling_posts %>
</div>