<header>
  <nav class="navbar navbar-expand-lg header-bg-color">
    <div class="container">
      <a class="navbar-brand" href="/">
        <%= image_tag "logo.png", alt: "ロゴ", style: "width: 200px; height: 80px;" %>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="custom-toggler-icon"><i class="fas fa-bars"></i></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
        <ul class="navbar-nav align-items-center">
          <% if admin_signed_in? %>
            <li class="nav-item">
              <%= link_to 'お悩み相談投稿', admin_counseling_posts_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to '会員情報', admin_users_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link' %>
            </li>
          <% elsif user_signed_in? %>
            <li class="nav-item">
              <%= link_to 'お悩み相談', counseling_posts_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "ランキング一覧", ranking_path, class: 'nav-link' %>
            </li>
            <li class="nav-item position-relative">
              <% if current_user.passive_notifications.where(checked: false).present? %>
                <span class="position-absolute top-0 translate-middle badge badge-pill badge-primary ml-5"><%= current_user.passive_notifications.where(checked: false).count %></span>
              <% end %>
              <%= link_to "通知", notifications_path, class: 'nav-link mr-5' %>
            </li>
            <li class="nav-item">
              <%= link_to "相談・質問をする", new_counseling_post_path, class: 'btn btn-color-blue text-white' %>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                <%= image_tag current_user.get_profile_image, size: '50x50', class: "rounded-circle user-image mr-3" %>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><%= link_to 'マイページ', user_path(current_user), class: 'dropdown-item' %></li>
                <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'dropdown-item' %></li>
              </ul>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "新規登録", new_user_registration_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
